.u-section-1 {
  background-image: linear-gradient(to right, #00519a, #f2f2f2);
}

.u-section-1 .u-sheet-1 {
  min-height: 481px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 431px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 34px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  animation-duration: 1000ms;
  text-shadow: 2px 2px 0 rgba(0,0,0,0);
  text-transform: uppercase;
  margin: 36px auto 0 46px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: -46px 54px 0 auto;
  padding: 9px 31px 10px 30px;
}

.u-section-1 .u-image-1 {
  min-height: 431px;
  pointer-events: auto;
  background-image: url("images/3.svg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 272px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 257px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-2 .u-group-1 {
  min-height: 115px;
  width: 801px;
  height: auto;
  margin: 60px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 32px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 55px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 538px;
  background-image: url("images/3.svg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 179px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  margin: 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6px;
  }

  .u-section-2 .u-group-1 {
    min-height: 124px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-2 .u-image-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-2 .u-group-1 {
    min-height: 95px;
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 510px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-2 .u-group-1 {
    min-height: 71px;
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 765px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-2 .u-group-1 {
    min-height: 45px;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 482px;
  }
}.u-section-3 {
  background-image: linear-gradient(to right, #00519a, #f2f2f2);
}

.u-section-3 .u-sheet-1 {
  min-height: 660px;
}

.u-section-3 .u-text-1 {
  width: 680px;
  margin: 93px auto 0;
}

.u-section-3 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 69px auto 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-video-1 {
    height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-video-1 {
    height: 195px;
    margin-top: 127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 668px;
}

.u-section-4 .u-repeater-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 548px;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 484px;
  width: 535px;
  margin: 0 auto 0 -1px;
}

.u-section-4 .u-text-1 {
  margin: -462px 0 0 586px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 361px auto 0 586px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  background-image: none;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: -349px 0 0 586px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 475px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
    width: 406px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 486px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 486px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 486px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-4 .u-repeater-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .u-section-4 .u-image-1 {
    height: 465px;
    width: 661px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 266px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 266px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 266px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-4 .u-repeater-1 {
    margin-top: 53px;
    margin-bottom: 53px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 366px;
    width: 520px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: -384px;
    margin-left: 126px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 126px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-4 .u-repeater-1 {
    margin-top: 51px;
    margin-bottom: 51px;
  }

  .u-section-4 .u-image-1 {
    height: 225px;
    width: 320px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 56px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 608px;
}

.u-section-5 .u-repeater-1 {
  min-height: 548px;
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  margin: 60px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 484px;
  width: 535px;
  margin: 2px 0 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  margin: -158px auto 0 0;
  padding: 0;
}

.u-section-5 .u-icon-1 {
  background-image: none;
}

.u-section-5 .u-text-1 {
  font-size: 1.25rem;
  margin: -257px 586px 0 0;
}

.u-section-5 .u-text-2 {
  margin: -270px 586px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 475px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 408px;
    width: 406px;
    margin-top: 39px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 868px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 386px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 386px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    height: 465px;
    width: 661px;
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 311px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 166px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 366px;
    width: 520px;
    margin-top: -1px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 268px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 225px;
    width: 320px;
    margin-top: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 252px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 639px;
}

.u-section-6 .u-text-1 {
  width: 305px;
  margin: 51px auto 0;
}

.u-section-6 .u-slider-1 {
  min-height: 391px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-gallery-1 {
  height: 294px;
  grid-template-columns: auto auto auto auto;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 20px 20px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-6 .u-gallery-2 {
  height: 294px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-gallery-inner-2 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-6 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 600px;
    margin-left: 387px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 445px;
    margin-top: -529px;
    height: auto;
  }

  .u-section-6 .u-gallery-1 {
    height: 237px;
    margin-top: 31px;
  }

  .u-section-6 .u-gallery-2 {
    height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: 991px;
    margin-left: 296px;
  }

  .u-section-6 .u-slider-1 {
    margin-top: -920px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-gallery-1 {
    height: 745px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-gallery-2 {
    height: 745px;
  }

  .u-section-6 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 2594px;
    margin-left: 222px;
  }

  .u-section-6 .u-slider-1 {
    margin-top: -2523px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2348px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-gallery-2 {
    height: 2348px;
  }

  .u-section-6 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-top: 1704px;
    margin-left: 140px;
  }

  .u-section-6 .u-slider-1 {
    margin-top: -1620px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1445px;
    margin-top: 44px;
  }

  .u-section-6 .u-gallery-2 {
    height: 1445px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 645px;
}

.u-section-7 .u-group-1 {
  min-height: 150px;
  width: 800px;
  margin: 59px auto 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  margin: 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

.u-section-7 .u-list-1 {
  min-height: 415px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  width: 1140px;
  grid-gap: 0px 0px;
  margin: 20px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-7 .u-image-1 {
  height: 266px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 55px 0;
}

.u-section-7 .u-text-4 {
  margin: 20px 70px 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-7 .u-image-2 {
  height: 266px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 69px 0;
}

.u-section-7 .u-text-6 {
  margin: 20px 59px 0;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-7 .u-image-3 {
  height: 266px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 66px 0;
}

.u-section-7 .u-text-8 {
  margin: 20px 68px 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-7 .u-image-4 {
  height: 266px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 66px 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 57px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-7 .u-list-1 {
    min-height: 342px;
    grid-template-columns: repeat(4, 25%);
    height: auto;
    width: 940px;
  }

  .u-section-7 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-list-1 {
    min-height: 1048px;
    grid-template-columns: repeat(2, 50%);
    width: 720px;
  }

  .u-section-7 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: 100%;
    width: 540px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-1 {
    height: 562px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 562px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-3 {
    height: 562px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-4 {
    height: 562px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-list-1 {
    width: 340px;
  }

  .u-section-7 .u-image-1 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-2 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-3 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-4 {
    height: 346px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 630px;
}

.u-section-8 .u-list-1 {
  min-height: 509px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 360px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 5px;
  }

  .u-section-8 .u-list-1 {
    min-height: 420px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-list-1 {
    min-height: 965px;
    grid-template-columns: repeat(2, calc(50% - 5.25px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 105px;
  }

  .u-section-8 .u-list-1 {
    grid-template-columns: repeat(1, calc(100% - 0px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    height: 586px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-2 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-3 {
    height: 361px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 707px;
}

.u-section-9 .u-text-1 {
  margin: 35px 397px 0;
}

.u-section-9 .u-slider-1 {
  min-height: 469px;
  width: 1020px;
  box-shadow: 0 0px 8px 6px rgba(128,128,128,0.2);
  text-shadow: 0 0px 0 rgba(0,0,0,0);
  margin: 35px auto 60px;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-9 .u-carousel-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-9 .u-image-1 {
  width: 83px;
  height: 83px;
  background-image: url("images/5.svg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-9 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-9 .u-text-3 {
  width: 191px;
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-9 .u-text-4 {
  width: 136px;
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
}

.u-section-9 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 297px;
    margin-left: 297px;
  }

  .u-section-9 .u-slider-1 {
    height: auto;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 187px;
    margin-left: 187px;
  }

  .u-section-9 .u-slider-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-top: 82px;
    margin-right: 97px;
    margin-left: 97px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 436px;
    margin-top: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-top: 226px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-slider-1 {
    min-height: 582px;
    margin-top: -119px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}